.readmore-wrapper {
  line-height: 22px;
  color: red;
  overflow: hidden;

}

.show-full {
  display: initial;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  line-clamp: unset;
}

.show-less {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
}